<!--<h4>Title:</h4>-->

<!--<h4>Body:</h4>-->

<!--<a href="/edit">Edit</a>-->
<!--<a href="/books">Back</a>-->


<h2>Title</h2>
<p><%= @book.title %></p>
<h2>Body</h2>
<p><%= @book.body %></p>
<%= link_to "Edit",edit_book_path(@book.id) %>
<a href="/books">Back</a>